/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #E3F2FD;
}

body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 75px;
  top:30px;
  bottom: 53px;
  width: 420px;
  height: 550px;
  background: #c9c7c7;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
  z-index: 9999;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 8%, rgba(0,212,255,1) 100%);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
  text-shadow: 2px 2px 5px red;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 8%, rgba(0,212,255,1) 100%);
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 5px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  margin-bottom: 10px;
  color: #fff;
  font-size: 0.95rem;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 8%, rgba(0,212,255,1) 100%);
}
.chat.incoming label {
    float: left;
    margin-right: 10px;
  }

.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #0a1749;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}
.chat button {
  display: inline-block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 30%;
}

/* Style for the buttons when hovered over */
button:hover {
  color: #1831d8;
}
.chat-container{
  text-align: left;
  margin: 0;
}
.chat-container button {
  margin-left:-80px;
  margin-top:-80px;
  margin-bottom:-50px;
/* Adjust this value to move the buttons */
}


.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 30px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 8%, rgba(0,212,255,1) 100%);
  z-index: 9999;
  top:530px; /* Adjust this value to position vertically */
  right: 10px;

  transition: all 0.2s ease;
}

.box{
  width:13%;
  height:78px;
  background-color: #2a96ff;
  border-radius: 15px 15px 15px 15px;
  float: right;
  display:inline-block;
  top:68%;
  margin-left: 85%;
  position:fixed;
  z-index:9999;
}

.box img{
  width:50%;
  padding-left:10px;
  padding-top:5px;
}

.box p{
  font-size:0.9em;
  margin-left:14px;
  color: #f9f9f9;
  margin-top: 10px;
  font-weight: 600;
}
.close {
  position: fixed;
  right: 4%;
  top: 69%;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  z-index: 9999;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 18px;
  
  width: 4px;
  background-color: #000000;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
/* Add CSS to hide the box */
.hidden {
  display: none;
}
.fade-in-text{
animation: fadeIn 3s;
-webkit-animation: fadeIn 3s;
-moz-animation: fadeIn 3s;
-o-animation: fadeIn 3s;
-ms-animation: fadeIn 3s;

}


@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

#message_replies{
  overflow:inherit;
  text-align: center;
  
  flex-shrink: 0;
  padding-bottom: 5px;
}
#message_replies ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
#message_replies ul {
  -webkit-animation-name: fadeoutneww;
  -webkit-animation-duration: .2s;
  animation-name: fadeoutneww;
  animation-duration: .2s;
  bottom: 0;
  opacity: 1;
  position: relative;
}
#message_replies ul li {
  display: inline-block;
  margin: 2px;
  margin-left: 0;
  animation: slide-up .4s ease;
}
#message_replies a {
  text-decoration: none;
  display: block;
  border: 1px solid #4586f1;
  color: #4586f1;
  border-radius: 16px;
  padding: .25rem 1rem;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  font-family: Roboto,sans-serif;
}











